@import url("./_footer.css");
@import url("./_header.css");
@import url("./_main.css");
@import url("./_hosting.css");
@import url("./_get.css");
@import url("./_suprem.css");
@import url("./_real.css");
@import url("./_over.css");
@import url("./_here.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1232px;
  margin-left: 30px;
  margin-right: 30px;
  margin: auto;
}
@media screen and (max-width:1220px) {
  .container{
    max-width: 1024px;
  }
}
@media screen and (max-width:1024px) {
  .container{
    max-width: 998px;
  }
}
@media screen and (max-width:998px) {
  .container{
    max-width: 786px;
  }
}
@media screen and (max-width:786px) {
  .container{
    max-width: 625px;
  }
}
@media screen and (max-width:625px) {
  .container{
    max-width: 475px;
  }
}
@media screen and (max-width:475px) {
  .container{
    max-width: 375px;
  }
}